.buton {
  border: none;
  cursor: pointer;
  font-size: var(--nav-font-size);
  font-weight: 700;
  transition: 0.15s;
  color: var(--light-text);
  display: flex;
  align-items: center;
  padding-left: var(--point3rem);
  padding-right: var(--point3rem);
  position: relative;
  user-select: none;
}
.button-box{
  margin-left: 4rem;
}
@media (max-width: 1300px) {
  .last-meeting{
    display:none;
  }
  .button-box{
    margin-left: 2rem;
  }
  .results-dropdown {
    display: none;
  }
}
.buton:hover > a {
  opacity: 0.7;
}
.buton:hover > p:first-child {
  opacity: 0.7;
}
.logo-f1 {
  cursor: pointer;
  width: var(--percent100);
  height: auto;
}
.logo {
  width: calc(var(--w100px) * 2.5);
}
.fia {
  width: var(--w100px);
  background-color: black;
  border: none;
  cursor: pointer;
  margin: 0;
}
.sus {
  background-color: black;
  border-bottom-width: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(0);
  transition: transform 150ms ease-in-out;
  padding: 10px;
}
.header {
  background-color: black;
  border-bottom-width: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(0);
  transition: transform 150ms ease-in-out;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.dropdown-menu {
  position: absolute;
  top: 3rem;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--point5rem);
  left: calc(var(--one1rem) * -3);
  border-top: 2px solid red;
  box-shadow: 0 3px 10px #333;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 150ms ease, transform 150ms ease;
  pointer-events: none;
}

.burger-menu {
  position: absolute;
  top: 3rem;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--point5rem);
  left: calc(var(--one1rem) * -7);
  border-top: 2px solid red;
  box-shadow: 0 3px 10px #333;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 150ms ease, transform 150ms ease;
  pointer-events: none;
}

.buton.active > .burger-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}
.buton.active:hover > .burger-menu > p {
  opacity: 1;
}

.dropdown-mare{
  width: 150%;
}
.dropdown-mic{
  width: 220%;
  border-top: 2px solid red;
  padding-top: 0;
}
.buton.active > .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}
.buton.active:hover > .dropdown-menu > p {
  opacity: 1;
}
.text-dropdown {
  margin: 0;
  text-decoration: none;
  color: var(--light-text);
  width: var(--percent100);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: calc(var(--point5rem) / 2);
}
.text-dropdown-right {
  margin: 0;
  text-decoration: none;
  color: var(--light-text);
  width: var(--percent100);
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-dropdown:first-child {
  border-bottom: 1px solid red;
  padding-bottom: var(--one1rem);
}
.text-dropdown-right {
  border-bottom: 1px solid red;
  padding-bottom: var(--one1rem);
  padding-top: var(--one1rem);
}
.text-dropdown:nth-child(2) {
  padding-top: var(--one1rem);
}

.last-dropdown-button.logat{
  border: 0;
}
.buton-text {
  margin: 0;
}
.router-link-exact-active {
  color: red;
  opacity: 1;
}
