.reaction-block{
    width:20%;
    border-radius: 50%;
    background-color: red;
    color: white;
    height:40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media(max-width: 900px){
    .reaction-block{
        height:30%;
        width:50%;
    }
}