p {
  margin: 0;
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.piloti-text {
  font-weight: bold;
  font-size: 2.5rem;
}
.piloti-grid {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
}
.pilot-container {
  height: 90%;
  display: grid;
  grid-template-rows: 15% 20% 10% 1fr;
  gap: 0.5rem;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-radius: 0 10px 0 0;
  padding: 0.5rem;
  padding-bottom: 0;
  max-width: 500px;
  position: relative;
  transition: transform 250ms ease-in-out;
}

.poza-pilot {
  transition: transform 250ms ease-in-out;
}
.pilot-container:hover {
  transform: scale(1.02);
}
.pilot-container:hover > .pozanumar > .poza-pilot {
  transform: scale(1.05);
}
.pozitiepuncte-pilot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  font-size: 2rem;
}
.pozitie-pilot {
  font-size: 4rem;
  font-weight: bold;
}
.nrpuncte-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nrpuncte-pilot {
  font-weight: 500;
}
.puncte-text-pilot {
  font-size: 1.5rem;
  background-color: black;
  color: #fff;
  font-weight: bold;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  border-radius: 5px;
}

.numesteag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #949498;
  border-bottom: 1px solid #949498;
}
.numesiculoare {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.culoare-pilot-pilot {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.3rem;
  font-weight: bold;
}
.firstname {
  font-size: 1.5rem;
}
.lastname {
  font-size: 1.8rem;
  font-weight: bold;
}
.echipa {
  opacity: 0.6;
  font-size: 1.2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.img-steag {
  height: 60%;
  border-radius: 10px;
  border: 1px solid black;
}
.pozanumar {
  background-image: url(https://www.formula1.com/etc/designs/fom-website/images/patterns/plus-x1.png);
  background-repeat: repeat;
  background-size: 8px;
  display: flex;
  justify-content: center;
}

.nr-pilot {
  background-color: #fff;
  width: 20%;
  position: absolute;
  left: 0.5rem;
  bottom: 0;
}
@media (max-width: 1000px) {
  .piloti-grid {
    grid-template-columns: 40% 40%;
    justify-content: space-between;
    width: 95vw;
    row-gap: 2rem;
  }
}
@media (max-width: 900px) {
  .piloti-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pilot-container {
    width: 80vw;
  }
  .img-steag {
    height: 60%;
    border-radius: 10px;
    border: 1px solid black;
  }
}
