.box {
  border: 3px solid black;
  height: 350px;
  display: grid;
  grid-template-rows: 1fr 1fr 2fr;
  border-left: 0;
  border-bottom: 0;
  border-radius: 12px;
  transition: 0.2s;
  transition: transform 250ms ease-in-out;
}
.box:hover {
  transform: scale(1.02);
}
.box.Ferrari:hover {
  box-shadow: 15px 15px 15px #f91536;
  border: 3px solid #f91536;
  border-left: 0;
  border-bottom: 0;
}
.box.Ferrari:hover .linie {
  color: #f91536;
}
.box.Mercedes:hover {
  box-shadow: 15px 15px 15px #6cd3bf;
  border: 3px solid #6cd3bf;
  border-left: 0;
  border-bottom: 0;
}
.box.Mercedes:hover .linie {
  color: #6cd3bf;
}
.box.RedBullRacing:hover {
  box-shadow: 15px 15px 15px #3671c6;
  border: 3px solid #3671c6;
  border-left: 0;
  border-bottom: 0;
}
.box.RedBullRacing:hover .linie {
  color: #3671c6;
}
.box.McLaren:hover {
  box-shadow: 15px 15px 15px #f58020;
  border: 3px solid #f58020;
  border-left: 0;
  border-bottom: 0;
}
.box.McLaren:hover .linie {
  color: #f58020;
}
.box.Alpine:hover {
  box-shadow: 15px 15px 15px #2293d1;
  border: 3px solid #2293d1;
  border-left: 0;
  border-bottom: 0;
}
.box.Alpine:hover .linie {
  color: #2293d1;
}
.box.AlfaRomeo:hover {
  box-shadow: 15px 15px 15px #c92d4b;
  border: 3px solid #c92d4b;
  border-left: 0;
  border-bottom: 0;
}
.box.AlfaRomeo:hover .linie {
  color: #c92d4b;
}
.box.HaasF1Team:hover {
  box-shadow: 15px 15px 15px #b6babd;
  border: 3px solid #b6babd;
  border-left: 0;
  border-bottom: 0;
}
.box.HaasF1Team:hover .linie {
  color: #b6babd;
}
.box.AlphaTauri:hover {
  box-shadow: 15px 15px 15px #5e8faa;
  border: 3px solid #5e8faa;
  border-left: 0;
  border-bottom: 0;
}
.box.AlphaTauri:hover .linie {
  color: #5e8faa;
}
.box.Williams:hover {
  box-shadow: 15px 15px 15px #37bedd;
  border: 3px solid #37bedd;
  border-left: 0;
  border-bottom: 0;
}
.box.Williams:hover .linie {
  color: #37bedd;
}
.box.AstonMartin:hover {
  box-shadow: 15px 15px 15px #358c75;
  border: 3px solid #358c75;
  border-left: 0;
  border-bottom: 0;
}
.box.AstonMartin:hover .linie {
  color: #358c75;
}
.box.AstonMartin {
  margin-bottom: 1rem;
}
.content-echipe {
  display: grid;
  grid-template-columns: 30% 30%;
  column-gap: 6.25rem;
  row-gap: 1.875rem;
  justify-content: center;
  margin-top: 1%;
}
.linie1 {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
.poza1 {
  height: 50px;
}
.pozae {
  display: flex;
  justify-content: center;
  align-items: center;
}
.numee {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 600;
}
.linie {
  font-size: 3.75rem;
  font-weight: 700;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0.5rem;
}
.linie2 {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
}
.linie3 {
  background-image: url(https://www.formula1.com/etc/designs/fom-website/images/patterns/plus-x1.png);
  background-repeat: repeat;
  background-size: 8px;
  border-radius: 0 0 12px 0;
}
.points {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
}
.inverted-pts {
  color: white;
  background-color: black;
  padding: 0.1rem 0.4rem;
  border: 1px black solid;
  border-radius: 10%;
  font-weight: bold;
}
.points-number {
  font-size: 2rem;
}
.numepilot {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.poza {
  width: 100%;
  transition: transform 250ms ease-in-out;
}
.box:hover > .linie3 > .poza {
  transform: scale(1.02);
}
.content > a {
  text-decoration: none;
  color: black;
}
.content-echipe {
  margin-bottom: 1rem;
}
.content > a:nth-child(10) {
  margin-bottom: 2rem;
}
a {
  text-decoration: none;
  color: black;
}

.pozaFav {
  display: none;
}
.echipaFavorita > .linie1 > .linie > .Favcontainer > .pozaFav {
  display: block;
}
@media (max-width: 1200px) {
  .content-echipe {
    grid-template-columns: 70%;
  }
  .box {
    height: auto;
  }
  .numepilot {
    font-size: 1.7rem;
  }
  .numee {
    font-size: 3rem;
  }
}
