.box {
  border: 3px solid black;
  height: 350px;
  display: grid;
  grid-template-rows: 1fr 1fr 2fr;
  border-left: 0;
  border-bottom: 0;
  border-radius: 12px;
  transition: transform 250ms ease-in-out;
}
.box:hover {
  transform: scale(1.02);
}
.box.AstonMartin {
  margin-bottom: 1rem;
}
.content-echipe {
  display: grid;
  grid-template-columns: 30% 30%;
  column-gap: 6.25rem;
  row-gap: 1.875rem;
  justify-content: center;
}
.linie1 {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
.poza1 {
  height: 50px;
}
.pozae {
  display: flex;
  justify-content: center;
  align-items: center;
}
.numee {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 600;
}
.linie {
  font-size: 3.75rem;
  font-weight: 700;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0.5rem;
}
.linie2 {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
}
.linie3 {
  background-image: url(https://www.formula1.com/etc/designs/fom-website/images/patterns/plus-x1.png);
  background-repeat: repeat;
  background-size: 8px;
  border-radius: 0 0 12px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.points {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
}
.inverted-pts {
  color: white;
  background-color: black;
  padding: 0.1rem 0.4rem;
  border: 1px black solid;
  border-radius: 10%;
  font-weight: bold;
}
.points-number {
  font-size: 2rem;
}
.numepilot {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.poza {
  width: 98%;
  transition: transform 250ms ease-in-out;
}
.box:hover > .linie3 > .poza {
  transform: scale(1.02);
}
.content > a {
  text-decoration: none;
  color: black;
}
.content > a:nth-child(10) {
  margin-bottom: 2rem;
}
a {
  text-decoration: none;
  color: black;
}

.pozaFav {
  display: none;
}
.echipaFavorita > .linie1 > .linie > .Favcontainer > .pozaFav {
  display: block;
}
@media (max-width: 1200px) {
  .content-echipe {
    grid-template-columns: 70%;
    margin-top: 4%;
  }
  .box {
    height: auto;
  }
  .numepilot {
    font-size: 1.7rem;
  }
  .numee {
    font-size: 3rem;
  }
}
