.container-curse{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    gap:1.5rem;
}
.titlu-pagina-curse{
    margin:0;
    font-size: 2.5rem;
    font-weight: bold;
}
.titlu-pagina-curse.dark-mode{
    color:white;
}
.tabel-container-curse{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1.5rem;
}
.tabel-cursa{
    border:3px solid black;
    border-radius:1%;
    padding:.5rem;
    width: 50%;
    font-size: 1.4rem;
}
.tabel-cursa.dark-mode{
    background-color: #333;
    color: white;
    border-color: white;
}
.tabel-header{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tabel-header > p{
    margin:0;
}
.nume-cursa{
    font-size: 2rem;
    font-weight: 500;
}
.data-cursa,  
.loc-cursa{
    font-size:1.4rem;
}
.pilot-container-curse{
    display: flex;
    flex-direction: column;
    gap:1rem;
    transition: transform 250ms ease-in-out;
    border-radius: 0  0 15px 0;
}
.pilot-container-curse:hover{
    transform: scale(1.02);
    box-shadow:10px 10px 10px black;
}
.tabel-body-curse{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
    row-gap: .5rem;
}
.parte-sus-pilot{
    display: flex;
    justify-content: space-between;
    gap:1rem;
    padding:1rem;
    padding-bottom: 0;
}
.numesiechipa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.status{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nume-pilot{
    font-size: 1.8rem;
}
.pozitie-curse{
    display:flex;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
}
.parte-jos-pilot{
    display: flex;
    justify-content: space-around;
    gap:1rem;
    border-bottom:2px solid black;
    border-right:2px solid black;
    border-radius: 0  0 15px 0;
    padding:1rem;
    padding-top: 0;
}
.parte-jos-pilot.dark-mode{
    border-color: white;
}
.fastest-lap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fastet-lap.fastestlap{
    font-weight: bold;
}
.fastest-text{
    display: block;
}
.fastest-lap > p {
    margin:0;
}
.numesiechipa > p{
    margin:0;
}
.status > p {
    margin:0;
}
.spatiu-intre{
    width: 100vw;
    background-color: black;
    font-size: .2rem;
}

@media(max-width: 1700px){
    .tabel-cursa{
        width: 60%;
    }
}
@media(max-width: 1300px){
    .tabel-cursa{
        width: 70%;
    }
}
@media(max-width: 1100px){
    .tabel-cursa{
        width: 80%;
    }
}

@media(max-width: 900px){
    .tabel-cursa{
        width: 90%;
    }
    .nume-pilot{
        font-size: 1.6rem;
    }
    .parte-sus-pilot{
        display: flex;
        justify-content: space-around;
        padding:0;
    }
    .parte-jos-pilot{
        padding:0;
    }
    .pilot-container-curse{
        margin-bottom: 1rem;
        gap:.5rem
    }
}