.form-select {
  right: 0.5rem;
  top: 8rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 1.8rem;
  position: fixed;
}
.optiune {
  font-size: 1rem;
  text-align: center;
  text-align-last: center;
  -moz-text-align-last: center;
}
.selectie {
  font-size: 1.2rem;
}

@media (max-width: 1000px) {
  .form-select {
    position: absolute;
    top: 16rem;
  }
}
