.form-select{
    position: absolute;
    right: .5rem;
    top: 10rem;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    font-size: 1.8rem;
}
.form-select.darkmode{
    color:white;
}
.optiune{
    font-size: 1rem;
    text-align: center;
    text-align-last: center;
    -moz-text-align-last: center;
}
.selectie{
    font-size: 1.2rem;
}