body{
    overflow-x: hidden;
    transition: background-color 200ms ease-in-out;
}
body.darkmode{
    background-color: #121212;
}
.stire{
    transition:200ms;
    transition: transform 200ms ease-in-out;
    overflow: hidden;
    z-index: 20;
}
.photo{
    width: 100%;
    overflow: hidden;
    transition: transform 200ms ease-in-out;
    object-fit: cover;
}
.stire:hover{
    box-shadow:15px 15px 15px black;
    cursor:pointer;
    transform: scale(1.01);
}
.stire:hover .photo{
    transform: scale(1.01);
}
.content-grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap:1.25rem;
    row-gap:1.25rem;
    margin-left:0.625rem;
    margin-right:0.625rem;
    transition: color 200ms ease-in-out;
}
.content-grid.darkmode{
    color:white;
}
@media(max-width:1380px){
    .content-grid{
        grid-template-columns: 1fr;
    }
}

.text{
    font-size:2rem;
    padding-left:0.313rem;
    padding-bottom:1.25rem;
    margin-bottom: 0;
    margin-top:0;
    padding-top: 1.25rem;
    flex-grow: 2;
}
.content-row{
    z-index:22;
}
.photo{
    z-index:-1;
}
.content-photo{
    background-color:black;
    transition: 0.15s;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.content-photo:hover{
    box-shadow:15px 15px 15px black;
    cursor:pointer;
}
.content-text{
    border-style:solid;
    border-color:black;
    border-width:6px;
    border-radius:10px;
    transition:0.15s;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
    z-index:20;
    transition: color 200ms ease-in-out;
}
.content-text.darkmode{
    border-color: white;
    color: white;
    background-color: rgb(41, 40, 40);
}
.content-text:hover{
    box-shadow:15px 15px 15px black;
    cursor:pointer;
}
.titlu-text{
    font-size:2.5rem;
    font-weight:bold;
    text-align:center;
}
.titlu{
    display:flex;
    justify-content:space-between;
    flex-direction:row;
    margin-right:0.625rem;
    margin-left:0.625rem;
    align-items: center;
}
.titlu-poza{
    width:100px;
}
.ltag{
    text-decoration: none;
    color:black;
    transition: color 200ms ease-in-out;
}
.ltag.darkmode{
    color:white;
}
@media(max-width:1380px){
    .content-text{
        display: flex;
        justify-content: center;
    }
}
.stiri{
    margin-bottom:1rem;
    margin-top: 1.2%;
    transition: color 200ms ease-in-out;
}
.stiri.darkmode{
    color: white;
}