.stire {
  transition: 200ms;
  transition: transform 200ms ease-in-out;
  overflow: hidden;
  z-index: 20;
  max-height: 650px;
}
.top-hero {
  min-height: 30vh;
}
.photo {
  width: 100%;
  overflow: hidden;
  transition: transform 200ms ease-in-out;
  object-fit: cover;
}
.stire:hover {
  box-shadow: 15px 15px 15px black;
  cursor: pointer;
  transform: scale(1.01);
}
.stire:hover .photo {
  transform: scale(1.01);
}
.content-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.25rem;
  row-gap: 1.25rem;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
  transition: color 200ms ease-in-out;
}

.text {
  font-size: 2rem;
  padding-left: 0.313rem;
  padding-bottom: 1.25rem;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 1.25rem;
}
.content-row {
  z-index: 22;
  display: flex;
  flex-direction: column;
}
.photo {
  z-index: -1;
}
.content-photo {
  background-color: black;
  transition: 0.15s;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.content-photo:hover {
  box-shadow: 15px 15px 15px black;
  cursor: pointer;
}
.content-text {
  border-style: solid;
  border-color: black;
  border-width: 6px;
  border-radius: 10px;
  transition: 0.15s;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
  z-index: 20;
  transition: color 200ms ease-in-out;
  overflow: hidden;
  /* max-height: 116px; */
}

.content-text:hover {
  cursor: pointer;
}
.titlu-text {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}
.titlu {
  display: flex;
  justify-content: space-between;
  margin-right: 0.625rem;
  margin-left: 0.625rem;
  align-items: center;
}
.titlu-poza {
  width: 100px;
}
.ltag {
  text-decoration: none;
  color: black;
  transition: color 200ms ease-in-out;
}

.loading {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.stiri {
  margin-bottom: 1rem;
  margin-top: 1.2%;
  transition: color 200ms ease-in-out;
}
@media (max-width: 1380px) {
  .content-grid {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 1380px) {
  .content-text {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 900px) {
  .top-hero {
    height: 20vh;
  }
}
