.content{
    display:grid;
    grid-template-columns: 4fr 1fr;
    column-gap: 2rem;
    margin-right:0.625rem;
    height: 100vh;
}
.box-istorie{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.poza-istorie{
    width:100%;
    display:flex;
    align-items: center;
}
.subtitlu{
    font-size:1.25rem;
    display:flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.subtitlu.darkmode{
    color:white;
}
.multscris{
    font-size:1.25rem;
    line-height: 1.563rem;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-radius: 0px 0px 15px 0px;
    padding-bottom:0.625rem;
    padding-top:0.625rem;
    margin-bottom:2.188rem;
    padding-right:0.313rem;
    margin-top:0;
}
.multscris.darkmode{
    border-color: white;
    color:white;
}
.text{
    margin-left:0.625rem;
}
.imagini{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.imagini.darkmode{
    color: white;
}
@media(max-width:1000px){
    .content{
        grid-template-columns: 2fr 1fr;
        column-gap: 1rem;
    }
}