.search-wrapper {
  width: 50%;
  position: relative;
  display: flex;
  gap: 1rem;
}

.search-bar {
  flex-grow: 2;
}
.select-box {
  flex-grow: 1;
}

@media (max-width: 1000px) {
  .search-wrapper {
    width: 90%;
  }
}
